<h1>Find account</h1>

<%= button_to "Homepage", accounts_path, method: :get %>

<%= form_with model: @account do |form| %>
  <p>
    <%= form.label :nick_name, "Nikname: " %>
    <%= form.text_field :nick_name %>
  </p>
  <p>
    <%= form.submit "Search"%>
  </p>
<% end %>
