<h1>Edit account</h1>

<%= button_to "Homepage", accounts_path, method: :get %>

<%= form_with model: @account do |form| %>
  <p>
    <%= form.label :nick_name, "Nikname: " %>
    <%= form.text_field :nick_name, options = {:autofocus => true } %>
  </p>
  <p>
    Name: <%= form.text_field :user_name %>
  </p>
  <p>
    <%= form.submit "Save"%>
  </p>
<% end %>
